/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#display_player {
	-fx-fill: yellow;
}
#display_wall {
	-fx-fill: aliceblue;
	/*dropshadow for the wall perhaps */
}
#display_box {
	-fx-fill: blanchedalmond;	
}
#display_target {
	-fx-fill: aqua 	
}
#display_match {
	-fx-fill: blue;	
}


#labNewGame {
	-fx-background-color: #969696;
}

#labBack {
	-fx-background-color: #969696;
}

#labDeleteSave {
	-fx-background-color: #969696;
}
#labSound {
	-fx-background-color: #969696;
}

#labDifficulty {
	-fx-background-color: #969696;
}

#labLoadGame {
	-fx-background-color: #969696;
}

#labSettings {
	-fx-background-color: #969696;
}

#labExit {
	-fx-background-color: #969696;
}

#labSoundToggle {
	-fx-background-color: #969696;
}

.root:hover {
  -fx-background-color:#dae7f3;
}

#soundToggle:checked {
	-fx-background-color:red;
}

.soundToggle:after {
	-fx-background-color:green;
}

